body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(69, 63, 63, 0.203);
    width: 300px;
    padding: 35px;
}
.container:hover{
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    transition: 1s linear;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

button[type="submit"] {
    background-color: rgb(55, 54, 54);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    margin-left: 10px;
}
button[type="submit"]:hover{
   background-color: rgb(73, 73, 73);
}
